@font-face {
   font-family: 'amiga4ever pro';
   font-display: swap;
   src: url('file:///Users/homemacbook/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-02-02_112502/fonts/amiga4ever%20pro/font.ttf');
}
